body,html{margin:0;padding:0;height:100%;}
body{background:black;box-shadow: inset 0 0 40vmin 0;}
.wrap{
  position:relative;
  top:5%;
  width:80vmin; height:80vmin;
  margin:0 auto;
  background:inherit;
  transform:scale(1) translatez(200px);
  opacity:1;
}
a{
  position:absolute;
  left:0; top:0;
  width:47.5%; height:47.5%;
  overflow:hidden;
  transform:scale(0.9) translateZ(200px);
  background:#585247;
}
a div{
  height:100%;
  background-size:cover;
  opacity:.6;
  transition:opacity .7s;
  border-radius:inherit;
}
a:nth-child(1){
  border-radius:40vmin 0 0 0;
  top:5%; left:1.5%;
  transform-origin: 110% 110%;
  transition:transform .4s .15s;
}
a:nth-child(1) div{
  background-image:url('https://raw.githubusercontent.com/yeseul-heo/yeseul-heo.github.io/master/img/index/img1_before.jpg');
}
a:nth-child(1):after{
    border-radius:20vmin 0 0 0;
}
a:hover:nth-child(1){
    border-radius:5vmin 0vmin 0 0;
}
a:nth-child(1):hover div{
  background-image: url('https://raw.githubusercontent.com/yeseul-heo/yeseul-heo.github.io/master/img/index/img1_after.jpg');
}
a:nth-child(2){
  border-radius:0 40vmin 0 0;
  left:51.5%; top:5%;
  transform-origin: -10% 110%;
  transition:transform .4s .2s;
}
a:nth-child(2) div{
  background-image:url('https://raw.githubusercontent.com/yeseul-heo/yeseul-heo.github.io/master/img/index/img2_before.jpg');
}
a:hover:nth-child(2){
    border-radius:0vmin 5vmin 0 0;
}
a:nth-child(2):hover div{
  background-image: url('https://raw.githubusercontent.com/yeseul-heo/yeseul-heo.github.io/master/img/index/img2_after.jpg');
}
a:nth-child(3){
  border-radius:0 0 0 40vmin;
  top:55%; left:1.5%;
  transform-origin: 110% -10%;
  transition:transform .4s .25s;
}
a:nth-child(3) div{
  background-image:url('https://raw.githubusercontent.com/yeseul-heo/yeseul-heo.github.io/master/img/index/img3_before.jpg');
}
a:hover:nth-child(3){
    border-radius:0vmin 0vmin 0vmin 5vmin;
}
a:nth-child(3):hover div{
  background-image: url('https://raw.githubusercontent.com/yeseul-heo/yeseul-heo.github.io/master/img/index/img3_after.jpg');
}
a:nth-child(4){
  border-radius:0 0 40vmin 0;
  top:55%; left:51.5%;
  transform-origin: -10% -10%;
  transition:transform .4s .3s;
}
a:nth-child(4) div{
  background-image: url('https://raw.githubusercontent.com/yeseul-heo/yeseul-heo.github.io/master/img/index/img4_before.JPG');
}
a:hover:nth-child(4){
    border-radius:0vmin 0vmin 5vmin 0vmin;
}
a:nth-child(4):hover div{
  background-image: url('https://raw.githubusercontent.com/yeseul-heo/yeseul-heo.github.io/master/img/index/img4_after.jpg');
}
a:nth-child(5){
    width:55%;height:55%;
    left:22.5%; top:25%;
    border-radius:50vmin;
    box-shadow:0 0 0 3vmin black;
    transition:transform .4s .3s;
}
a:nth-child(5) div{
    background-image: url('https://raw.githubusercontent.com/yeseul-heo/yeseul-heo.github.io/master/img/index/img5_before.jpg');
}

a:nth-child(5):hover div{
    background-image: url('https://raw.githubusercontent.com/yeseul-heo/yeseul-heo.github.io/master/img/index/img5_after.jpg');
}
span:hover + .wrap a, .wrap:hover a{
    transform:scale(1.1) translatez(0px);
}

a:hover div{
  opacity:1;
  scale:1.2;
  transform:translatez(0px);
}